<%- include('partials/header') %>

<section class="section">
  <div class="container">
    <h2 class="page-title"><%= content.title %></h2>
    <p class="section-text centered-text"><%= content.intro %></p>
    <div class="cards">
      <% content.items.forEach((item) => { %>
        <div class="card">
          <h3><%= item.title %></h3>
          <p><%= item.text %></p>
        </div>
      <% }) %>
    </div>
    <div class="content-box outro-box">
      <h3 class="section-subtitle"><%= content.outroTitle %></h3>
      <p><%= content.outroText %></p>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
